body {
  text-align: left;
  background-color: white;
  font-family: Verdana, ARIAL, HELVETICA, SANS-SERIF;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  height: 400px;
}

.tradeSection {
  text-align: left;
  height: 95%;
  background-color: lightgray;
  width: 100%;
  margin: 10px;
}

.tradeCategory {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 2px;
  column-gap: 4px;
}

.tradeItem {
  cursor: pointer;
  row-gap: 5px;
  height: 40px;
  width: 40px;
  border: 1px solid #212121;
}

/* .tradeItem:hover {
  background-color: rgba(1, 58, 163, 0.144);
} */

.tradeItemSelected {
  background-color: rgba(1, 58, 163, 0.308);
}

.tradeImage {
  background: url(./resources.png);
  width: 32px;
  height: 32px;
  margin-left: 3px;
  margin-top: 3px;
}

.tradeImageResource {
  background: url(./resources.png);
  width: 32px;
  height: 32px;
}

.tradeItemPositionFix {
  display: inline-block;
  margin: 0 4px -8px 4px;
}


.categoryButton {
  width: 100%;
  text-align: left;
  font-size: large;
  border-left: 2px solid darkblue;
  margin: 8px 0;
}

.categoryButton:hover {
  cursor: pointer;
  background-color: rgba(1, 58, 163, 0.144);
}


.searchBar {
  width: 100%;
  height: 36px;
  margin-bottom: 2px;
  margin-top: 4px;
  margin-left: 8px;
}

.searchInput {
  height: 34px;
  width: 66%;
  padding: 0;
  border: 1px solid rgba(1, 58, 163, 0.144);
  background-color: #d3d3d3;
  padding-left: 12px;
  font-size: 1.1em;
}

.zoom {
  zoom: 0.69;
  -moz-transform: scale(0.69);
}